@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --color-primary-1: #FD377E;
  --color-primary-2: #E34981;
  --color-secundary: #03B898;
  --color-grey-1: #F8F9FA;
  --color-grey-2: #E9ECEF;
  --color-grey-3: #868E96;
  --color-grey-4: #212529;

  /* 12px */
  --font-size-1: 0.75rem;
  /* 16px */
  --font-size-2: 1rem;
  /* 20px */
  --font-size-3: 1.25rem;
  /* 24px */
  --font-size-4: 1.5rem;
  /* 28px */
  --font-size-5: 1.75rem;

}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Nunito', sans-serif;
}

